.brands__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 2px solid #eaeaea;
    border-radius: 6px;
    padding: 16px;
    min-height: 72px;
    width: 100%;
  }
  .brands__details-items {
    display: none;
  }
  
  @media (min-width: $tablet) {
    .brands__details-items {
      height: 168px;
      padding-top: 5px;
      overflow: hidden;
      width: 95%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 16px;
      column-gap: 24px;
      margin-bottom: 24px;
      transition: all 0.3s ease;
    }
  }
  
  @media (min-width: $desktop-max) {
    .brands__details-items {
      gap: 16px 32px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: $tablet) {
    .brands__head {
      margin-bottom: 24px;
    }
  }
  
  @media (min-width: $tablet) {
    .brands__details-items--show-more {
      height: 344px;
    }
  }
  
  @media (min-width: $desktop) {
    .brands__details-items--show-more {
      height: 253px;
    }
  }
  
  .brands__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 2px solid #eaeaea;
    border-radius: 6px;
    padding: 16px;
    height: 72px;
    transition: all 0.2s ease;
  
    &:hover {
      transform: scale(0.97);
      box-shadow: -4px -4px 7px -5px rgba(34, 60, 80, 0.6);
  
      .brands__icon {
        background-color: rgba(255, 37, 102, 0.133);
        transform: rotate(360deg) scale(0.97);
      }
    }
  }
  
  @media (min-width: $desktop) {
    .brands__details-item {
      flex: 0 0 240px;
    }
  }
  .logo__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    background: url(../img/dropdown.svg) no-repeat center center;
    transition: all 0.2s ease;
  }