html {
  min-height: 100%;
  line-height: 24px;
  font-size: 1rem;
  background-color: #f8f8f8;
  font-family: 'TT Lakes';
  color: #1b1c21;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  line-height: 24px;
  font-size: 1rem;
  background-color: #f8f8f8;
  font-family: 'TT Lakes';
  color: #1b1c21;
  box-sizing: border-box;
  min-height: 100%;
}

* {
  box-sizing: inherit;

  &:before, &:after {
    box-sizing: inherit;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}