.modal-form {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #fff;
    max-width: 440px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 100;
  }
  
  @media (min-width: $phone) {
    .modal-form__container {
      margin: 0 auto;
      width: 85%;
      position: relative;
      padding-top: 24px;
    }
  
    @media (min-width: 1366px) {
      .modal-form__container {
        margin: 0 auto;
        width: 85%;
        position: relative;
      }
    }
  
    @media (min-width: $tablet) {
      .modal-form__container {
        padding-top: 40px;
      }
    }
  
    .modal-form__agreement {
      font-size: 14px;
      line-height: 16px;
      color: #7e7e82;
      font-weight: 500;
      margin-bottom: 19px;
    }
  
    .modal-form__link {
      color: #ff3e79;
    }
  
    .modal-form__submit {
      position: absolute;
      right: 0;
      width: 136px;
      height: 32px;
      margin-left: auto;
      background-color: #ff3e79;
      border: 1px solid #ff3e79;
      border-radius: 16px;
      color: #fff;
      font-weight: 700;
      transition: all 0.2s ease-out;
  
      &:hover {
        color: #ff3e79;
        background-color: #f8f8f8;
      }
    }
  
    .modal-form__close {
      margin-bottom: 40px;
    }
  
    @media (min-width: $tablet) {
      .modal-form__close {
        position: absolute;
        top: 46px;
        left: -100px;
      }
    }
  
    
  
    .modal-overlay {
      position: fixed;
      min-width: 100vw;
      min-height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: -1;
    }
    .modal-call {
        visibility: hidden;
        position: fixed;
        transform: translateX(120%);
        transition: all 0.3s ease;
      }
      
      .modal-call--active {
        visibility: visible;
        transform: translateX(0%);
      }
      
      .modal-call__title {
        position: relative;
        font-size: 1.5rem;
        margin-bottom: 24px;
      
        &::before {
          content: "";
          background: url("../img/title-icon.svg") no-repeat;
          position: absolute;
          width: 4px;
          height: 40px;
          left: -9%;
          transform: scale(1);
          opacity: 1;
          transition-duration: 0.1s;
        }
      }
      
      .modal-call__input {
        min-width: 100%;
        height: 48px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        color: #b5b6bc;
        padding: 12px 8px 12px 16px;
        text-align: start;
        vertical-align: text-top;
        margin-bottom: 16px;
      }
      
      .modal-feedback {
        visibility: hidden;
        position: fixed;
        transform: translateX(120%);
        transition: all 0.3s ease;
      }
      
      .modal-feedback--active {
        visibility: visible;
        transform: translateX(0%);
      }
      
      .modal-feedback__title {
        position: relative;
        font-size: 24px;
        margin-bottom: 24px;
      
        &::before {
          content: "";
          background: url("../img/title-icon.svg") no-repeat;
          position: absolute;
          width: 4px;
          height: 40px;
          left: -9%;
          transform: scale(1);
          opacity: 1;
          transition-duration: 0.1s;
        }
      }
      
      .modal-feedback__item {
        margin-bottom: 16px;
      }
      
      .modal-feedback__input {
        min-width: 100%;
        height: 48px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        color: #b5b6bc;
        padding: 12px 8px 12px 16px;
        text-align: start;
        vertical-align: text-top;
      }
      
      .modal-feedback__input--big {
        min-height: 118px;
      }
      @media (min-width: $tablet) {
        .feedback {
          display: flex;
          column-gap: 16px;
          justify-content: flex-end;
        }
      } 
    }